

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <!-- <a href="#">Create your Tiny URL!</a> -->
    <h4>My URLs</h4><br />
    <% for (let i in urls){%> 
      <form class="form-inline" method="POST" action="/urls/<%= i %>/delete">
      <h6><li><b>shortURL: <a href="urls/<%= i %>"><%= i %> </a>,</b> longURL: <a href="<%= urls[i] %>"><%= urls[i]%></a></li></h6>&nbsp;&nbsp;
      <button type="submit" class="btn btn-outline-warning">Delete 🗑</button> &nbsp;&nbsp;
      <a href="urls/<%= i %>" class="btn btn-outline-warning">Edit</a>
      </form>
    <% } %>

    <a href="urls/new" class="btn btn-outline-success">Add a new URL</a>

</body>
</html>