<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <!-- <a href="#">Create your Tiny URL!</a>  -->
    <b>shortURL:</b> <%= shortURL %>, <b>longURL:</b> <a href='<%=longURL %>'><%=longURL %></a> <br/>
    <h6><b>Date Created:</b> <%= date%></h6>
    <form class="form-inline" method="POST" action = '<%= shortURL %>'>
      <label for="newLongURL">Enter a new URL for <%= shortURL %>:</label>
      <input class="form-control" type="text" name="newLongURL" placeholder="http://" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-outline-warning">Update</button>
      <!-- <input type="button" value="Go back!" onclick="history.back()"> -->
    </form>
    <br/><a href="/urls" class="btn btn-outline-success">Back to my URLs</a>
</body>
</html>