

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <% include partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">

    <h4>My URLs</h4>
    <table class="table">
      <% for (let i in urls){ %> 
        <tr>
          <td>
              <h5><b>shortURL: <a href="urls/<%= i %>"><%= i %> </a>,</b> longURL: <a href="<%= urls[i]['longURL'] %>"><%= urls[i]['longURL']%></a></h5><h6>Date created: <%= urls[i]['date']%></h6>&nbsp;&nbsp;
          </td>
          <td>
              <form method="POST" action="urls/<%= i %>/delete"><button type="submit" class="btn btn-outline-warning">Delete 🗑</button> &nbsp;&nbsp; <a href="urls/<%= i %>" class="btn btn-outline-warning">Edit</a></form>
          </td>
        </tr>>
      <% } %>  
    </table>
  <a href="urls/new" class="btn btn-outline-success">Add a new URL</a>

</body>
</html>